.basicForm {
  width: 12rem;
  padding: 1rem;

  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.buttonsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.basicForm label,
.basicForm input,
.basicForm button,
.basicForm .inputError {
  font-size: 0.6rem;
  padding: 0.2rem;
}

.basicForm input.valid {
  background-color: none;
}

.basicForm input.invalid {
  background-color: pink;
}

.basicForm .inputError {
  height: 0.9rem;

  display: flex;
  align-items: center;

  font-size: 0.4rem;
  font-style: italic;
  color: red;

  transition: opacity 250ms ease-in-out;
}

.basicForm .inputError.hidden {
  opacity: 0;
}